.manage-create-bracket-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 60px;
    /* border: 2px solid red; */
}
.new-bracket-forms {
    /* border: 2px solid white; */
    padding-top: 20px;
    display: flex;
    flex-direction: column;
}
.create-bracket-controls {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 20px;
    margin-top: auto;
}
