.manage-view-match-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 60px;
}
.view-match-info {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
.view-match-bracket-name {
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
}
.view-match-round {
    color: #7a7a7a;
    font-size: 18px;
}
.view-match-name-score {
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222222;
    padding: 20px;
}
.view-match-team-name {
    font-size: 20px;
    width: 30%;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
    max-width: 400px;
    word-break: break-all;
}
.view-match-winner-name {
    font-size: 20px;
    color: #7986cb;
    width: 30%;
    display: flex;
    flex-grow: 1;
    align-items: center;
    flex-wrap: wrap;
    max-width: 400px;
    word-break: break-all;
}
.match-score-divider {
    padding: 0 30px;
    color: #5a5a5a;
}
.match-score {
    font-size: 20px;
}
