.breadcrumb-container {
    height: 75px;
    min-height: 75px;
    width: calc(100vw - 200px);
    background-color: #5b5b5b;
    display: flex;
    align-items: center;
    padding-left: 60px;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 2;
}
.breadcrumb {
    display: flex;
    align-items: center;
}
.breadcrumb-name {
    color: rgba(255, 255, 255, 0.514);
    font-size: 18px;
    text-decoration: none;
}
.breadcrumb-icon {
    margin-left: 14px;
    margin-right: 12px;
    color: #9fa8da;
}
.last-crumb {
    color: white;
}
.link-crumb:hover {
    color: white;
}
