.bracket-viewer-container {
    background-color: rgb(58, 58, 58);
    height: 100vh;
    width: 100%;
    overflow: scroll;
    display: flex;
    flex-direction: row;
}
.bracket-viewer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    min-width: calc(100% - 200px);
    min-height: fit-content;
}
.bracket-column {
    width: 180px;
    display: flex;
    flex-direction: column;
    background-color: #222222;
    min-width: 180px;
}
.bracket-column-header {
    padding: 10px;
    background-color: #3a3a3a;
    margin-bottom: 10px;
}
.column-title {
    font-size: 20px;
    margin-bottom: 5px;
    color: white;
    text-align: center;
}
.best-of {
    font-size: 12px;
    color: black;
}
.best-of-number {
    color: cornflowerblue;
}

.bracket-column-match {
    background-color: #3a3a3a;
    margin: 10px 0;
}
.bracket-column-match:hover {
    background-color: #5a5a5a;
}
.bracket-column-match > .winner {
    background-color: #7986cb;
    color: white;
    /* border: 1px solid white; */
}
.bracket-column-match > .loser {
    background-color: rgb(45, 45, 97);
    color: rgba(255, 255, 255, 0.432);
}
.bracket-match-team {
    /* background-color: #3a3a3a; */
    color: rgb(207, 207, 207);
    border-top: 1px solid #222222;
    border-bottom: 1px solid #222222;
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 35px;
    font-size: 12px;
}
.column-matches {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    padding: 0 5px;
}
.bracket-team-name {
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.bracket-team-score {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    border-left: 1px solid #222222;
}
.bracket-column-divider {
    width: 30px;
    min-width: 30px;
}
