.sidebar-container {
    height: 100vh;
    background-color: #5b5b5b;
    /* background-color: #222222; */
    width: 200px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow: scroll;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 2;
}
.site-logo {
    font-size: 25px;
    font-weight: 700;
    text-align: center;
    background-color: #222222;
    width: 100%;
    color: white;
    height: 75px;
    min-height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
}
.site-logo span {
    color: #7986cb;
}
.sidebar-links-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: fit-content;
    flex-grow: 1;
}
.sidebar-link {
    color: rgb(170, 170, 170);
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-decoration: none;
    width: 100%;
    text-align: left;
    border-left: 10px solid transparent;
    display: flex;
    align-items: center;
}
.sidebar-link:hover {
    color: white;
}
.nav-icon {
    margin-right: 10px;
    min-width: 25px;
}
.active-link {
    background-color: #494949;
    border-left: 10px solid #7986cb;
    color: white;
}
.user-info-container {
    padding: 20px;
    display: flex;
    background-color: #222222;
    width: 100%;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.dev {
    background-color: black;
    display: none;
}
.logout {
    color: rgb(238, 61, 55);
}
