.content-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(100% - 200px);
    background-color: rgb(58, 58, 58);
}
.portal-container {
    display: flex;
}
