.card-match {
    width: 100%;
    background-color: #3a3a3a;
    /* padding: 15px 20px; */
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
}
.card-match:hover {
    background-color: #5a5a5a;
}
.card-match:hover .card-team-winner {
    background-color: #7986cb;
}
.card-match:last-child {
    margin-bottom: 0px;
}
.card-match-info {
    flex-grow: 5;
}
.card-match-controls-container {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.card-match-control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92px;
    width: 50%;
    border-left: 1px solid #222222;
}

.card-match-control:first-child:hover {
    background-color: #7986cb;
}

.card-match-control:hover {
    background-color: #009688;
}

.card-control-label {
    padding-top: 10px;
    font-size: 10px;
}
.card-team {
    /* padding: 15px 10%; */
    padding: 15px;
    display: flex;
    justify-content: space-between;
}
.card-team-winner {
    background-color: #3f50aa;
}
.card-team-divider {
    height: 1px;
    width: 100%;
    background-color: #222222;
}
