.manage-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 60px;
}
.manage-brackets-list {
    background-color: #222222;
    width: 100%;
    height: 100%;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
.bracket-control-icon {
    color: white;
    padding: 0 5px;
    text-align: center;
}
.bracket-control-icon:hover {
    color: #7986cb;
}
.manage-brackets-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    /* height: 75px; */
}
/* .manage-bracket-list-entry {
    color: white;
    display: flex;
}
.manage-bracket-list-column {
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.name-column {
    width: 20%;
    text-align: left;
}
.date-time-column {
    width: 10%;
}
.subject-column {
    width: 20%;
    text-align: left;
}
.format-column {
    width: 20%;
    text-align: left;
}
.status-column {
    width: 10%;
} */
