.App {
    text-align: center;
    font-family: "Roboto", sans-serif;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 80px;
    padding: 20px;
    color: white;
}

.App-title {
    font-size: 1.5em;
}

.App-intro {
    font-size: large;
}

.content-container {
    /* height: 100vh;
    min-height: 100vh; */
    display: flex;
    flex-direction: column;
    width: calc(100% - 200px);
    background-color: rgb(58, 58, 58);
}

.portal-container {
    display: flex;
    /* height: 100vh; */
    min-width: fit-content;
    /* min-height: 100vh; */
}
.bracket-list-empty {
    width: 100%;
    padding: 20px;
    background-color: #222222;
    color: #5a5a5a;
}
.ui-title-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
}
.ui-description {
    width: 60%;
    color: white;
    padding-top: 40px;
    padding-bottom: 15px;
}
.ui-subtitle-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 15px;
}

.ui-link {
    text-decoration: none;
}

.ui-link:visited {
    color: white;
}

.ui-button {
    padding: 12px;
    border: none;
    outline: none;
    border-radius: 5px;
    letter-spacing: 0.06em;
    font-size: 14px;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ui-button-header {
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
    letter-spacing: 0.06em;
    font-size: 12px;
    display: flex;
    margin-left: 10px;
    justify-content: center;
    align-items: center;
}
.ui-button-icon {
    margin-right: 8px;
}
.button-short {
    width: 100px;
}
.button-medium {
    width: 150px;
}
.button-long {
    width: 300px;
}
.button-main {
    background-color: #3f50aa;
    border: 1px solid transparent;
    color: white;
}
.button-secondary {
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.button-confirm {
    background-color: #009688;
    border: 1px solid transparent;
    color: white;
}
.button-reject {
    background-color: transparent;
    border: 1px solid #d32f2f;
    color: white;
}
.button-main:hover {
    color: #3f50aa;
    background-color: white;
}
.button-secondary:hover {
    background-color: white;
    color: #222222;
}
.button-confirm:hover {
    background-color: white;
    color: #009688;
}
.button-reject:hover {
    background-color: #d32f2f;
    border: 1px solid transparent;
    color: white;
}
.ui-header-controls {
    display: flex;
    align-items: center;
}
/* .ui-form {
    width: 500px;
    min-width: 500px;
} */
.ui-table-control {
    color: #7986cb;
}
.ui-table-control:hover {
    color: white;
}
.ui-table-control-kick {
    color: white;
}
.ui-table-control-kick:hover {
    color: #d32f2f;
}
.ui-form-half-container {
    width: 47%;
    display: inline-block;
}

.ui-form-container {
    width: 100%;
    text-align: left;
}
.ui-form-divider {
    width: 6%;
    display: inline-block;
}

.ui-form-title {
    color: white;
    font-size: 25px;
    letter-spacing: 0.06em;
    text-align: left;
    padding-right: 15px;
}

.ui-title-with-chip {
    display: flex;
    align-items: center;
}

.ui-form-label {
    color: rgb(204, 204, 204);
    font-weight: 400;
    font-size: 18px;
    letter-spacing: 0.06em;
    text-align: left;
    padding-top: 25px;
    padding-bottom: 15px;
}

.ui-form-subtitle {
    color: rgb(255, 255, 255);
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.06em;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 5px;
}

.ui-form-controls {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding-top: 20px;
    margin-top: auto;
}
.ui-form-controls-left-right {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-top: 20px;
    margin-top: auto;
}

.ui-controls-group {
    display: flex;
}

.ui-table-container {
    background-color: #222222;
    width: 100%;
    max-height: 600px;
    color: white;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}
@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
